{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block body %}

<div class="container my-3">
<h3> Login using your authentication credentials </h3>

<table>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        {% comment %} {{ form.as_p }} #represents form as Paragraph {% endcomment %}
        {% comment %} {{ from.as_ul }} #represents form as Unordered List {% endcomment %}
    
</table>
<button class= "btn btn-secondary"> Login </button>


</div>
</div>

{% endblock body %}