{% extends 'base.html' %}

{% block title %} Add new post {% endblock title %}

{% block body %}

<div class="container my-3">

{% if user.is_authenticated %}
    <h3> Add new Post </h3>

    <table>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            {% comment %} {{ form.as_p }} #represents form as Paragraph {% endcomment %}
            {% comment %} {{ from.as_ul }} #represents form as Unordered List {% endcomment %}

    </table>
    <button class= "btn btn-secondary"> Post </button>

{% else %}
    <p>You are not authenticated to Add new post.</P>

{% endif %}

    </div>
</div>

{% endblock body %}