{% extends 'base.html' %}

{% block title %} All Categories {% endblock title %}

{% block body %}

<div class="container my-3">

        <h2>All Categories :</h2><br/>
        {% for item in cat_menu_list %}
                <a class="dropdown-item" href="{% url 'category' item|slugify %}"> {{ item }} </a>
        {% endfor %}
        {% comment %} <h2 class="blog-post-title"> {{post.title}} </h2> <a href={% url 'updatepost' post.slug %} > 
        
        {% if user.is_authenticated %}
        <small> [Edit] </a></small>
        {% endif %}
        <p class="blog-post-meta"> {{post.timeStamp}} by 
        <a href="/"> {{post.author}} </a></p>
        {{post.content|safe}} {% endcomment %}

<hr>

<a href= "{% url 'events' %}" class="btn btn-secondary" > back </a>

</div>


{% endblock body %}